 <!-- <div class="container">
	<div class="screen">
        
		<div class="screen__content">
           
			<form class="login" #loginForm="ngForm" (ngSubmit)="login()">
                
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input 
                        type="email" 
                        class="login__input" 
                        placeholder="Nom / Email" 
                        [(ngModel)]="connexion.email" 
                        name="email"
                        required
                        email
                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                        #emailField="ngModel"
                        >
                        <small [hidden]="emailField.valid || emailField.untouched">
                            Veuillez entrer une adresse email valide.
                        </small>
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input 
                        type="password" 
                        class="login__input" 
                        placeholder="Mot de passe" 
                        [(ngModel)]="connexion.password" 
                        name="password"
                        required
                        minlength="8"
                        #passwordField="ngModel">
                        <small [hidden]="passwordField.valid || passwordField.untouched">
                            Le mot de passe doit contenir au moins 8 caractères.
                        </small>
                </div>

                
                <button class="button login__submit" [disabled]="loginForm.invalid">
                    <span class="button__text">Connexion</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
                
            
            </form>
           
            
                <a routerLink="/inscription" class="button login__submit">
                    Inscription
                </a>
            

			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>	
        	
	</div>
    
</div> 


 -->


 <div class="body">



    <div class="container">
        <div class="login-box">
            <h2>Connexion</h2>
            <form >
                <div class="input-box">
                    <input type="email" [(ngModel)]="connexion.email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <input type="password" [(ngModel)]="connexion.password" name="password"  minlength="8" required>
                    <label>Mot de passe</label>
                </div>
                <!-- <div class="forgot-pass">
                    <a href="#">Forgot your password?</a>
                </div> -->
                <button type="submit" (click)="login()" class="btn">Se connecter</button>
                <div class="signup-link">
                    <a routerLink="/inscription">S'inscrire</a>
                </div>
            </form>
        </div>
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
        <span style="--i:4;"></span>
        <span style="--i:5;"></span>
        <span style="--i:6;"></span>
        <span style="--i:7;"></span>
        <span style="--i:8;"></span>
        <span style="--i:9;"></span>
        <span style="--i:10;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:13;"></span>
        <span style="--i:14;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:17;"></span>
        <span style="--i:18;"></span>
        <span style="--i:19;"></span>
        <span style="--i:20;"></span>
        <span style="--i:21;"></span>
        <span style="--i:22;"></span>
        <span style="--i:23;"></span>
        <span style="--i:24;"></span>
        <span style="--i:25;"></span>
        <span style="--i:26;"></span>
        <span style="--i:27;"></span>
        <span style="--i:28;"></span>
        <span style="--i:29;"></span>
        <span style="--i:30;"></span>
        <span style="--i:31;"></span>
        <span style="--i:32;"></span>
        <span style="--i:33;"></span>
        <span style="--i:34;"></span>
        <span style="--i:35;"></span>
        <span style="--i:36;"></span>
        <span style="--i:37;"></span>
        <span style="--i:38;"></span>
        <span style="--i:39;"></span>
        <span style="--i:40;"></span>
        <span style="--i:41;"></span>
        <span style="--i:42;"></span>
        <span style="--i:43;"></span>
        <span style="--i:44;"></span>
        <span style="--i:45;"></span>
        <span style="--i:46;"></span>
        <span style="--i:47;"></span>
        <span style="--i:48;"></span>
        <span style="--i:49;"></span>
    </div>
</div>